<ion-view title="Drive" hide-back-button="true" id="page11" class=" ">
    <ion-content padding="true" style="background: url(img/5UyHEOVtS9G5fKKZxs2j_google_map.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
        <form id="drive-form5" class="list ">
            <div class="spacer" style="width: 300px; height: 355px;"></div>
        </form>
        <a ui-sref="pickupRequested" id="drive-button10" class=" button button-positive  button-block ">I'm Available</a>
        <button id="drive-button11" class=" button button-assertive  button-block ">I'm Unavailable</button>
    </ion-content>
</ion-view>