<ion-view title="Pickup Requested" hide-back-button="true" id="page5" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-list id="pickupRequested-list1" class=" ">
            <ion-item class="item-icon-left  " id="pickupRequested-list-item1">
                <i class="icon ion-location"></i>The Domain</ion-item>
            <ion-item class="item-icon-left  " id="pickupRequested-list-item2">
                <i class="icon ion-flag"></i>E 6 Street</ion-item>
        </ion-list>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="pickupRequested-button-bar1" class=" button-bar ">
            <a ui-sref="drive" id="pickupRequested-button2" class=" button button-assertive  button-block ">Skip</a>
            <button id="pickupRequested-button3" class=" button button-positive  button-block button-clear ">10s</button>
            <a ui-sref="trip" id="pickupRequested-button4" class=" button button-positive  button-block ">Accept</a>
        </div>
    </ion-content>
</ion-view>