<ion-view title="Profile" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="profile-form6" class="list ">
            <ion-item id="profile-list-item17" class="  ">Frodo Baggins</ion-item>
            <label class="item item-input " id="profile-input5">
                <input type="text" placeholder="+1 512 505 9898">
            </label>
            <label class="item item-input " id="profile-input6">
                <input type="text" placeholder="frodo@lotr.com">
            </label>
        </form>
        <button id="profile-button15" class=" button button-positive  button-block ">Update Profile</button>
        <button id="profile-button16" class=" button button-assertive  button-block ">Logout</button>
    </ion-content>
</ion-view>