<ion-view title="Rate Your Trip" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="rateYourTrip-form3" class="list ">
            <ion-item class="range range-positive " id="rateYourTrip-range1">
                <input type="range" value="5" min="1" max="5" name="rateTrip">
            </ion-item>
        </form>
        <a ui-sref="drive" id="rateYourTrip-button7" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>