<ion-view title="Signup" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form10" class="list ">
            <ion-list id="signup-list11" class=" ">
                <label class="item item-input " id="signup-input12" name="name">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input " id="signup-input13" name="username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="signup-input14" name="password">
                    <input type="text" placeholder="Password">
                </label>
                <label class="item item-input " id="signup-input16" name="confirmPassword">
                    <input type="text" placeholder="Confirm Password">
                </label>
                <label class="item item-input " id="signup-input15" name="phone">
                    <input type="tel" placeholder="Phone">
                </label>
                <label class="item item-input " id="signup-input17" name="email">
                    <input type="email" placeholder="Email">
                </label>
            </ion-list>
            <button id="signup-button19" class=" button button-positive  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>