<ion-view title="Welcome" hide-nav-bar="true" hide-back-button="true" id="page13" class=" ">
    <ion-content padding="true" style="background: url(img/H3b96glpQAy9GQBVqvgp_city-cars-traffic-lights.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 238px;"></div>
        <form id="welcome-form8" class="list ">
            <label class="item item-input " id="welcome-input10" name="username">
                <input type="text" placeholder="Username">
            </label>
        </form>
        <form id="welcome-form9" class="list ">
            <label class="item item-input " id="welcome-input11" name="password">
                <input type="password" placeholder="Password">
            </label>
        </form>
        <button id="welcome-button17" class=" button button-positive  button-block button-outline ">Login</button>
        <a ui-sref="signup" id="welcome-button18" class=" button button-balanced  button-block button-outline ">Sign Up</a>
        <a ui-sref="tabsController.carpool" class=" button button-balanced  button-block button-outline ">Go</a>
    </ion-content>
</ion-view>